html {
    font-family: "Cherry Bomb One",sans-serif;
    color: #2f0f3e;
    border: .25em solid #2ba781;
    background-image: radial-gradient(circle, #f391d2 39%, #76d6e2 96%);
    background-size: 100%;
    margin: .2em;
}
#container {
    width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
main {
    width: auto;
}
#navmenu ul {
    list-style: none;
    padding: 1em 0;
    text-align: center;
    font-size: 150%;
}
#navmenu ul li {
    display:inline;
    text-align: center;
    margin-right:2.5em;
}
h1 {
   color:#8a2be2; 
   font-variant: small-caps; 

   font-size: 300%;
   margin-right: .8em;
}
h2 {
   color:#8a2be2; 
   font-variant: small-caps;
   font-size: 200%;
   margin-right: 1em;
   text-align: center;
}
ul li :hover {
    font-style: italic;
}
#top ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: .5em;
    text-align: center;
    margin-top: 4%;
}
#p2 {
    text-align: center;
}
a[href] {
    color:#2f0f3e;
    text-decoration: none;
}
.list {
    margin-right: 4em;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}
.list ul{
    list-style: none;
    color:#8a2be2;
}
.text {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.hardcore {
    color: #2f0f3e
}
.pokeball {
    color: #2f0f3e;
}

.list ul li i {
    color: #2f0f3e;
}
#underline {
    color:#2f0f3e;
}
#faq {
    margin-top: 2em;
}
#gif1 {
    display: block;
    width: 5%;
    margin-left: 36%;
    margin-right: auto;
    max-width: 100%;
    float: left;
}