body {
    font-family: "Cherry Bomb One",sans-serif;
    color: #2f0f3e;
    border: .25em solid #2ba781;
    background-image: radial-gradient(circle, #f391d2 39%, #76d6e2 96%);
    background-size: 100%;
}
#container {
    width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
main {
    width: auto;
}
#navmenu ul {
    list-style: none;
    padding: 1em 0;
    text-align: center;
    margin-top: 80%;
}
#navmenu ul li {
    display:inline;
    text-align: center;
    padding-top: 1em;
    margin-right:2.5em;
}
h1 {
   color:#8a2be2; 
   font-variant: small-caps; 
   text-align: center;
   font-size: 300%;
}
h2 {
   color:#8a2be2; 
   font-variant: small-caps; 
   text-align: center;
}
#img1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}