html {
    font-family: "Cherry Bomb One", sans-serif;
    color: #2f0f3e;
    border: .25em solid #2ba781;
    background-image: radial-gradient(circle, #f391d2 39%, #76d6e2 96%);
    background-size: 100%;
    display: flex;
    margin: .2em;
}

body {
    width: 100%;
    display: flex;
}

#container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: auto;
}

/*Fix the grid alignment for the blocks*/
/*When I add more gifs, make sure they work with the blocks*/
#block1 {
    font-size: 200%;
    margin-top: 3em;
}

.block2 {
    grid-gap: 1em;
    display: grid;
    grid-template-columns: auto auto;
    width:90%;
    justify-content: center;
    margin-left: 6em;
}
h1 {
    color: #8a2be2;
    font-variant: small-caps;
    text-align: center;
}

#navmenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: .5em;
    font-size: 140%;
}

#navmenu ul li {
    display: inline;
    margin-left: .1em;
    margin-right: .1em;
}

#navmenu ul li a {
    display: block;
    padding: 0 .9em .1em .1em;
}

#top ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: .5em;
    text-align: center;
}

#p1 {
    text-align: center;
    padding: 1em;
    
}

#p2 {
    text-align: center;
}

#img1 {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}

ul li :hover {
    font-style: italic;
}

a[href] {
    width: 90%;
    color: #2f0f3e;
    font-weight: bolder;
    text-decoration: none;
}

a :visited {
    color: #000000;
}
#gif1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}
#gif2 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}
#gif3 {
    display: block;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}
#gif4 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}
#gif5 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#gif6 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}