html {
    font-family: "Cherry Bomb One", sans-serif;
    color: #2f0f3e;
    border: .25em solid #2ba781;
    background-image: radial-gradient(circle, #f391d2 39%, #76d6e2 96%);
    background-size: 100%;
    justify-content: center;
    display: flex;
    margin: .2em;
}

#container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: flex;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: auto;
    height: auto;
}

#navmenu ul {
    list-style: none;
    padding: 1em 0;
    text-align: center;
    margin-left: 2em;
    font-size: 140%;
}

#navmenu ul li {
    display: inline;
    text-align: center;
    padding-top: 1em;
    margin-right: 2.5em;
    font-weight: bolder;
}

h1 {
    color: #8a2be2;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 300%;
    margin-right: .8em;
}

#gif1 {
    display: block;
    width: 6%;
    margin-left: 38%;
    margin-right: auto;
    max-width: 100%;
    float: left;
}

h2 {
    color: #8a2be2;
    font-variant: small-caps;
    text-align: center;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
}

#top ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: .5em;
    text-align: center;
}

#p2 {
    text-align: center;
}

a[href] {
    width: 90%;
    color: #2f0f3e;
    font-weight: bolder;
    text-decoration: none;
}

a[href].link :hover {
    font-style: italic;
}

ul li :hover {
    font-style: italic;
}

.boxart {
    display: block;
    margin-left: auto;
    width: 80%;
}

.link {
    font-size: 150%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: em;
    text-align: center;
}

.link :hover {
    font-style: italic;
}

#gen1 {
    display: grid;
    grid-template-columns: auto auto;
}

#gen2 {
    display: grid;
    grid-template-columns: auto auto;
}

#gen3 {
    display: grid;
    grid-template-columns: auto auto;
}

.artsize {
    width: 40%;
    border: 2px solid #2f0f3e;
}

.artsize2 {
    width: 40%;
    border: 2px solid #2f0f3e;
    margin-left: 41.65%;
}

/* Media Quieries */

@media screen and (max-width:1024px) {
    #gif1 {
        width: 10%;
    }
}

@media screen and (max-width:768px) {
    #navmenu ul {
        list-style: none;
        padding: 1em 0;
        text-align: center;
        margin-left: 2em;
        font-size: 105%;
    }

    h1 {
        color: #8a2be2;
        font-variant: small-caps;
        font-weight: bolder;
        font-size: 300%;
        margin-right: 2em;
    }

    .link {
        font-size: 120%;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: em;
        text-align: center;
    }

    #gif1 {
        width: 15%;
    }
}

@media screen and (max-width:566px) {
    #gif1 {
        width: 20%;
    }

    h1 {
        font-size: 250%;
        margin-right: 2em;
    }

    #navmenu ul {
        list-style: none;
        padding: 1em 0;
        text-align: center;
        margin-left: 2em;
        font-size: 78%;
    }
}

@media screen and (max-width:425px) {
    #gif1 {
        width: 15%;
    }

    h1 {
        font-size: 150%;
        margin-right: 2em;
    }

    #navmenu ul {
        list-style: none;
        padding: 1em 0;
        text-align: center;
        font-size: 58%;
        margin-left: 2em;
    }
}